<p>Are you sure you want to delete:</p>
<blockquote><p><%= @menu.name %></p></blockquote>
<form action="/delete/<%= @menu.id %>" method="POST">
 <button type="submit" class="btn btn-primary" name="ok">OK</button>
  <button type="submit" class="btn" name="cancel">Cancel</button>
</form>