<form action="/new" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="number" placeholder="price" name="price">
  <input type="text" placeholder="picture" name="picture">
  <input type="text" placeholder="category" name="category">
  <input type="text" placeholder="detail" name="detail">
  <button type="submit">Post</button>
</form>